.home_admin_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home_admin_main h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
