@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.8; }
  }
  
  @keyframes fadeOut {
    0% { opacity: 0.8; }
    100% { opacity: 0; }
  }

.leave_application_inner {
    margin-top: 2rem;
    margin-left: 2rem;
}

.leave_application {
    background-color: aqua;
    color: #333;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.leave_application:hover {
    background-color: rgb(3, 225, 225);
    color: white;
    transform: scale(1.05);
}

.items{
    flex: 0 0 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    color: #333;
    flex: 0 0 90%;
    display: flex;
    background-color: #aeadad;
    margin-top: 2rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.item p{
    flex: 0 0 18%;
    margin-left: 1rem;
    color: black;
    font-weight: 500;
    flex: 0 0 11%;
    display: flex;
    margin: 0.5rem 0;
    margin-left: 0.5rem;
    margin-right: 0;
    color: #333;
    font-weight: 500;
}

.item:hover{
    background-color: #858484;
    cursor: pointer;
    box-shadow: 5px 5px 5px;
}


.item:hover {
    flex: 0 0 90%;
    display: flex;
    transform: translateY(-3.5px);
}

/* .leave_requests_list li p {
    flex: 0 0 13%;
    display: flex;
    margin: 0.5rem 0;
    color: #333;
    font-weight: 500;
} */



.item p:first-child {
    font-weight: bold;
    color: black;
}
