.leave_application_inner {
    margin-top: 2rem;
    margin-left: 2rem;
}

.leave_application {
    background-color: aqua;
    color: #333;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.leave_application:hover {
    background-color: rgb(3, 225, 225);
    color: white;
    transform: scale(1.05);
}

.leave_requests_list {
    flex: 0 0 96.3%;
    display: flex;
    margin-top: 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.leave_requests_list ul {
    flex: 0 0 96.3%;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.leave_requests_list li {
    flex: 0 0 96.3%;
    display: flex;
    background-color: #aeadad;
    border-radius: 2rem;
    padding: 1rem;
    margin: 10px;
    width: calc(50% - 20px);
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.leave_requests_list li:hover {
    flex: 0 0 96.3%;
    display: flex;
    transform: translateY(-3.5px);
}

.leave_requests_list li p {
    flex: 0 0 13%;
    display: flex;
    margin: 0.5rem 0;
    color: #333;
    font-weight: 500;
}

/* .complaint_item_admin p{
    flex: 0 0 18%;
    margin-left: 2rem;
    color: black;
    font-weight: 500;
} */

.leave_requests_list li p:first-child {
    font-weight: bold;
    color: black;
}
