
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.guest_room_admin_inner{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.guest_room_admin_selectors{
    margin-top: 2rem;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
}

.select_type_admin{
    font-size: 1.1rem;
    height: 3rem;
    text-align: center;
    flex: 0 0 18%;
    border-radius: 2rem;
    background-color: aqua;
    box-shadow: 5px 5px 5px #333;
    border: none;
    color: #333;
    border: none;
    margin: 1rem;
    transition: 0.3s;
}

.select_type_admin:hover{
    background-color: rgb(3, 225, 225);
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 10px 10px 10px #333;
}

.date_input_admin{
    font-size: 1.1rem;
    height: 3rem;
    text-align: center;
    flex: 0 0 18%;
    border-radius: 2rem;
    background-color: aqua;
    box-shadow: 5px 5px 5px #333;
    border: none;
    color: #333;
    border: none;
    margin: 1rem;
    transition: 0.3s;
}

.date_input_admin:hover{
    background-color: rgb(3, 225, 225);
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 10px 10px 10px #333;
}

.occupant_name_admin{
    font-size: 1.1rem;
    height: 3rem;
    text-align: center;
    flex: 0 0 18%;
    border-radius: 2rem;
    background-color: aqua;
    box-shadow: 5px 5px 5px #333;
    border: none;
    color: #333;
    border: none;
    margin: 1rem;
    transition: 0.3s;
}

.occupant_name_admin:hover{
    background-color: rgb(3, 225, 225);
    font-size: 1.2rem;
    box-shadow: 10px 10px 10px #333;
}

.phone_no_admin{
    font-size: 1.1rem;
    height: 3rem;
    text-align: center;
    flex: 0 0 18%;
    border-radius: 2rem;
    background-color: aqua;
    box-shadow: 5px 5px 5px #333;
    border: none;
    color: #333;
    border: none;
    margin: 1rem;
    transition: 0.3s;
}

.phone_no_admin:hover{
    background-color: rgb(3, 225, 225);
    font-size: 1.2rem;
    box-shadow: 10px 10px 10px #333;
}

.select_status_admin{
    font-size: 1.1rem;
    height: 3rem;
    text-align: center;
    flex: 0 0 10%;
    border-radius: 2rem;
    background-color: aqua;
    box-shadow: 5px 5px 5px #333;
    border: none;
    color: #333;
    border: none;
    margin: 1rem;
    transition: 0.3s;
}

.select_status_admin:hover{
    background-color: rgb(3, 225, 225);
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 10px 10px 10px #333;
}

.guest_room_admin_filtered_requests{
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.guest_room_items_admin{
    flex: 0 0 98.3%;
}
.guest_room_item_admin{
    color: #333;
    flex: 0 0 120%;
    display: flex;
    background-color: #aeadad;
    margin-top: 2rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.guest_room_item_admin p{
    flex: 0 0 18%;
    margin-left: 2rem;
    color: black;
    font-weight: 500;
}

.guest_room_item_admin:hover{
    background-color: #858484;
    cursor: pointer;
    box-shadow: 5px 5px 5px;
}



.navbar {
    z-index: 20; /* Ensure navbar is above the modal */
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 15; /* Set z-index lower than the navbar */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content {
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 40%;
    max-width: 600px; /* Limit the maximum width */
    text-align: center;
    overflow-wrap: break-word;
    position: relative;
    z-index: 20; /* Ensure content is above the modal background */
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
