.create_guest_request_inner {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

.create_guest_request_components {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    background: #e5e4e4;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px #6b6b6b;
}

.type_label {
    flex: 0 0 100%;
    padding: 2rem 2rem;
    font-size: 3rem;
}

.room_types {
    flex: 0 0 100%;
    display: flex;
    padding: 0.8rem 0rem;
}

.guest_room_option {
    cursor: pointer;
    padding: 1rem 3rem;
    margin-right: 3rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.guest_room_option:hover {
    background-color: rgb(174, 254, 254);
    box-shadow: 2px 2px 2px;
}

.guest_room_option.selected {
    background-color: aqua;
    font-size: 1.7rem;
    box-shadow: 3px 3px 3px;
}

.description_input {
    flex: 0 0 90%;
    margin-left: 3%;
    height: 5rem; /* Allow the input height to adjust based on content */
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
    white-space: pre-wrap;
    font-size: 1.3rem;
    word-wrap: break-word; /* Allow long words to wrap to the next line */
    border: 1rem;
}

.input_row {
    display: flex;
    flex: 0 0 45%;
    align-items: center;
    margin-left: 3%;
    margin-bottom: 10px;
}

.input_field_label {
    flex: 0 0 25%;
    display: flex;
    padding: 0.8rem 0.8rem;
    font-size: 1.5rem;
}

.occupant_name_input,
.phone_no_input,
.start_date_input,
.end_date_input {
    flex: 10;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit_request {
    flex: 0 0 90%;
    margin: 3%;
    font-size: 1.75rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(130, 252, 252);
    box-shadow: 3px 3px 3px;
    cursor: pointer;
    transition: 0.3s;
}

.submit_request:hover {
    background: aqua;
    box-shadow: 6px 6px 6px #333;
}
