.create_leave_request_inner {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

.create_leave_request_components {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    background: #e5e4e4;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px #6b6b6b;
}

.input_row {
    display: flex;
    flex: 0 0 45%;
    align-items: center;
    margin-left: 3%;
    margin-bottom: 10px;
}

.input_field_label {
    flex: 0 0 25%;
    display: flex;
    padding: 0.8rem 0.8rem;
    font-size: 1.5rem;
}

.reason_input {
    flex: 10;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.start_date_input,
.end_date_input {
    flex: 10;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit_request {
    flex: 0 0 90%;
    margin: 3%;
    font-size: 1.75rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(130, 252, 252);
    box-shadow: 3px 3px 3px;
    cursor: pointer;
    transition: 0.3s;
}

.submit_request:hover {
    background: aqua;
    box-shadow: 6px 6px 6px #333;
}
