.Login_main {
    display: flex;
    flex-direction: column;
}

.Login_inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    background: linear-gradient(to top left,rgb(189, 224, 248),rgb(108, 255, 255));
    border: 0.5rem solid rgb(7, 205, 245); /* Adjust border width */
    border-radius: 2rem;
    margin-top: 4.5%;
    height: 58vh;
    width: 50%;
    overflow: scroll;
}

.Login_inner::-webkit-scrollbar{
    display: none;
}

.select_type_login {
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: 45% 10% 45%;
}   

.select_student {
    background-color: white;
    grid-column: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.75rem;
    border-radius: 5rem;
    color: rgb(4, 171, 204);
    transition: 0.5s;
    box-shadow: 4px 4px 4px rgb(5, 131, 209);
}

.select_student:hover{
    background: rgb(4, 171, 204);
    color: white;
    box-shadow: 10px 10px 10px rgb(5, 131, 209);
    font-weight: bold;
}

.select_admin {
    background: white;
    grid-column: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 1.75rem;
    border-radius: 5rem;
    color: rgb(4, 171, 204);
    transition: 0.5s;
    box-shadow: 4px 4px 4px rgb(5, 131, 209);
}

.select_admin:hover{
    background: rgb(4, 171, 204);
    color: white;  
    box-shadow: 10px 10px 10px rgb(5, 131, 209);
    font-weight: bold;
}

.id_input{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: column;
}

.id_label{
    font-size: 1.9rem;
    color: rgb(4, 171, 204);
    /* text-shadow: 2px 2px 0px rgb(5, 131, 209); */
    margin-bottom: 5px;
    font-weight: bold;
}

.passwd_label{
    font-size: 1.9rem;
    color: rgb(4, 171, 204);
    /* text-shadow: 2px 2px 0px rgb(5, 131, 209); */
    margin-bottom: 5px;
    font-weight: bold;
}

.id_in{
    font-size: 2rem;
    padding: 10px;
    padding-left: 20px;
    border-radius: 2rem;
    box-shadow: 4px 4px 4px rgb(5, 131, 209);
    border: rgb(5, 131, 209);
    background-color: aliceblue;
    color: rgb(5, 131, 209);
    margin-bottom: 20px;
}

.passin{
    font-size: 2rem;
    padding: 10px;
    padding-left: 20px;
    border-radius: 2rem;
    box-shadow: 4px 4px 4px rgb(5, 131, 209);
    border: rgb(5, 131, 209);
    background-color: aliceblue;
    color: rgb(5, 131, 209);
}

.upper_label{
    background: linear-gradient(to bottom right,black,rgb(73, 73, 73));
    border: solid 10px;
    border-top: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3.75rem;
    font-weight: bolder;
    color:  rgb(4, 171, 204);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}