.navbar_main {
    position: relative;
    background-color: #333; /* Background color of the navbar */
    height: 6rem;
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align items to the right */
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    flex-wrap: nowrap;
  }
  
  .navbar_main ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    top: 0;
    margin-top: 0;
    text-wrap: nowrap;
    overflow: scroll;
  }

  .navbar_main ul::-webkit-scrollbar{
    display: none;
  }
  
  .navbar_main li {
    top: 0;
    display: inline; /* Display list items horizontally */
    height: 5rem;
    margin-left: 20px; /* Add some spacing between items */
  }
  
  .navbar_main button {
    width: 11rem;
    border: none; /* Remove button border */
    background-color: transparent;
    color: aqua;
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 1.2rem; /* Button text font size */
    transition: 0.5s; /* Reduce transition duration */
    border-radius: 2rem;
  }
  
  .navbar_main button.active {
    color: black; /* Color of active button text */
    background-color: aqua;
    box-shadow: 2px 5px 5px rgb(9, 110, 110);
    height: 3.5rem;
    border-radius: 2rem;
  }

  .logout{
    color: red !important;
  }
  